.rooms_show {
  .chat_area {
    background-color: #333;
  }

  .icon_image {
    width: 40px;
    height: 40px;
  }

  .mymessage {
    background: rgb(29 155 240);
  }

  .message_submit {
    background-color: rgb(29 155 240);
  }
}
